.auth-page {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 450px;
  color: white;
  text-align: center;
}

.judul-auth {
  font-size: 1.5rem;
  margin-bottom: 0.1rem; 
  margin-top: 0.7rem;
}

.subjudul-auth {
  font-size: 1rem;
  margin-top: 0;
}


.logo-img {
  width: 150px;
  height: 40px;
  align-items: center;
}

.logo-g {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-wrapper {
  text-align: left;
  width: 50%;
}

.nama-inp {
  font-size: 0.9rem;
}

input {
  padding: 0.7rem;
  border-radius: 5rem;
  color: white;
  background-color: transparent;
  border: 1.35px solid #E7E3FC3B;
  width: 100%;
  box-sizing: border-box;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  transition: color 0.2s;
}

.eye-icon:hover {
  color: #ccc;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #ccc;
}

button {
  padding: 0.7rem;
  border-radius: 5rem;
  cursor: pointer;
  background-color: #3d4142f9;
  color: white;
  border: 1.35px solid #E7E3FC3B ;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: transparent;
  transform: scale(1.02);
}

.google-btn{
  background-color: transparent;
  border: 1.35px solid #E7E3FC3B ;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.google-btn:hover {
  background-color: #3d4142f9;
  transform: scale(1.02);
}

.separator {
  text-align: center;
  color: #ccc;
  font-size: 0.85rem;
}

.linkk{
  color: white;
  text-decoration: none;
}

.linkk:hover {
  text-decoration: underline;
}

.google-btn-link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none; 
}