.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 40px;
  background-color: hsl(210, 8%, 10%);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 90px;
}

.nav-links{
  display: flex;
  align-items: center; 
  margin-left: 50px;
  flex-grow: 1;
}

.nav-links a {
  margin: 0 30px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  color: blue;
}

.profile-pic {
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  
}

.profile {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.caret-icon {
  font-size: 14px;
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #1c1c1c;
  border-radius: 20px 0px 20px 20px ;
  padding: 8px 0;
  width: 180px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

.dropdown-item {
  padding: 10px 16px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  transition: background 0.3s;
}

.dropdown-item:hover {
  color: blue;
}
